/home/jeanlouis/Documents/ma_config/custom/plugins/zsh-autosugestions/*
/home/jeanlouis/Documents/ma_config/custom/plugins/zsh-syntax-highlighting/*
/home/jeanlouis/Documents/ma_config/custom/themes/powerlevel9k/*

